a.menulink:link, a.menulink:visited, a.menulink:active { color: #F10507;
						 	 text-decoration: none;
							 font-family: sans-serif;
							 font-weight: 100;
							 font-size: 100%;
							 font-style: normal;
				      }

a.menulink:hover { text-decoration: underline; }


a {
    color: #e80a09;
    text-decoration: none;
}

a.headerlink:link, a.headerlink:visited, a.headerlink:active { color: black;
						 	 text-decoration: none;
							 font-family: sans-serif;
}

a.headerlink:hover {
    text-decoration: underline;
	      }


p.menulink { font-size: 12pt;
	     text-align: right;
}

.display-article {
    font-size: 120%;
}

.tag {
    font-size: 16pt;
    text-decoration: none;
    
}

.alt a {
    text-decoration: none;
}

.alt a:hover {
    text-decoration: underline;
}

body {
    background-image: url('/images/splash.gif');
    background-repeat:no-repeat;
    background-position: 90% 0%; 

}

.alt {
    font-family: sans-serif;
    font-style: normal;
}

blockquote {
    font-style: normal;
    text-align: justify;
}

h1.alt {
    font-size: 220%;
}

a.comment:link, a.comment:visited, a.comment:active {
    text-decoration: none;
    color: #666;
}

.comment {
    padding-bottom: 1em;
}

p + p { text-indent:0;
      margin-top: -1em;}

.candidate-display blockquote {
    font-size: 120%;
}

.candidate-display ul {
    font-size: 120%;
}

.login {
     padding: 1em;
}